@model IEnumerable<SchoolManagementSystem.Models.Student>
<link rel="stylesheet" href="~/css/site.css" />
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNotHomePage.cshtml";
    <link rel="stylesheet" href="~/css/site.css" />
}

<h1>List of all the Students</h1>

<table id="customers">
    <tr>
        <th> @Html.DisplayNameFor(model => model.firstname)</th>
        <th> @Html.DisplayNameFor(model => model.lastname)</th>
        <th>  @Html.DisplayNameFor(model => model.dob) </th>
        <th>  @Html.DisplayNameFor(model => model.email) </th>
        <th>   @Html.DisplayNameFor(model => model.grade)</th>
        <th>  @Html.DisplayNameFor(model => model.classname)</th>
        <th>  @Html.DisplayNameFor(model => model.teachername) </th>
        <th>   @Html.DisplayNameFor(model => model.username) </th>



    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>  @Html.DisplayFor(modelItem => item.firstname)</td>
            <td> @Html.DisplayFor(modelItem => item.lastname)</td>
            <td> @Html.DisplayFor(modelItem => item.dob)</td>
            <td> @Html.DisplayFor(modelItem => item.email)</td>
            <td> @Html.DisplayFor(modelItem => item.grade)</td>
            <td> @Html.DisplayFor(modelItem => item.classname)</td>
            <td>@Html.DisplayFor(modelItem => item.teachername)</td>
            <td>@Html.DisplayFor(modelItem => item.username)</td>
    


        </tr>
    }
</table>

