@model IEnumerable<SchoolManagementSystem.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNotHomePage.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.positionid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.classnameid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.classname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teachername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teacherid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.positionid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.classnameid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.classname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teachername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teacherid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.studentid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.studentid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.studentid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
