@model IEnumerable<SchoolManagementSystem.Models.NewVM>
<link rel="stylesheet" href="~/css/cart.css" />
<script src="~/js/site.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/4.7.0/css/font-awesome.min.css">

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutForShopping.cshtml";
}

<h1>Cart Items</h1>

<div class="shopping-cart">
    <!-- Title -->
    <div class="title">
        Shopping Bag
    </div>
    @foreach (var item in Model)
    {
<div class="item">
    <div class="buttons">
        <span class="delete-btn"><a asp-action="Delete" asp-route-id="@item.listofcart.cartid">Delete</a></span>

    </div>

    <div class="imagebox">
        <img src="@("~/image/" + item.listofproduct.imagename)" runat="server" asp-append-version="true" />
    </div>

    <div class="description">
        <span> @Html.DisplayFor(modelItem => item.listofproduct.pname)</span>
        <span> $@Html.DisplayFor(modelItem => item.listofcart.price)</span>

    </div>
    <a class="decrement_qty_<?php echo $_item->getId(); ?>" href="javascript:void(0)">-</a>
    <input type="text" pattern="\d*" name="cart[<?php echo $_item->getId() ?>][qty]" value="<?php echo $this->getQty() ?>" size="4" data-cart-item-id="<?php echo $this->jsQuoteEscape($_item->getSku()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Qty')) ?>" class="input-text qty" maxlength="12" />
    <a class="increment_qty_<?php echo $_item->getId(); ?>" href="javascript:void(0)">+</a>

    <div class="total-price">$@Html.DisplayFor(modelItem => item.listofcart.total)</div>
</div>


    }
    <div class="subtotal">
        <h3>Sub Total: $@ViewBag.subtotal</h3>
    </div>
    
</div>

<div class="checkoutBtn"><a asp-action="Checkout">CheckOut</a></div>
<script type="text/javascript">
    //<![CDATA[

    jQuery(document).ready(function () {
        var itemId = '<?php echo $_item->getId(); ?>';
        jQuery('.increment_qty_' + itemId).click(function () {
            jQuery('.btn-update').css('display', 'block');
            var oldVal = jQuery(this).parent().find("input").val();
            if (parseFloat(oldVal) >= 1) {
                var newVal = parseFloat(oldVal) + 1;
                jQuery(this).parent().find("input").val(newVal);
            }
        });

        jQuery('.decrement_qty_' + itemId).click(function () {
            jQuery('.btn-update').css('display', 'block');
            var oldVal = jQuery(this).parent().find("input").val();
            if (parseFloat(oldVal) >= 2) {
                var newVal = parseFloat(oldVal) - 1;
                jQuery(this).parent().find("input").val(newVal);
            }
        });
    });
    //]]>
</script>
@*<a asp-action="Edit" asp-route-id="@item.listofcart.cartid">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.listofcart.cartid">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.listofcart.cartid">Delete</a>*@