@model SchoolManagementSystem.Models.Product
    <link rel="stylesheet" href="~/css/products.css" />
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutNotHomePage.cshtml";
}

<h2>@Html.DisplayFor(model => model.pname)</h2>

<div class="row">
    <div class="column" >
        <img src="@("~/image/"+Model.imagename)" runat="server" asp-append-version="true" style="width:500px; height:500px" />
    </div>
    <div class="column" >
        <h2>@Html.DisplayFor(model => model.pname)</h2>
        <p>@Html.DisplayFor(model => model.description)</p>
        <h2>@Html.DisplayFor(model => model.price)</h2>
        <div class="btnLink"><a asp-action="AddToCart" asp-route-id="@Model.productid">Add to Cart</a> 
                             <a asp-action="Index">Back to Home Page</a>
        </div>
        
    </div>
</div>

@*<div>
        <h4>Product</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.pname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.pname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.pcategoryid)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.pcategoryid)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.availableqty)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.availableqty)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.imagefile)
            </dt>
            <dd class="col-sm-10">
                <img src="@("~/image/"+Model.imagename)" runat="server" asp-append-version="true" style="width:250px; height:250px" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.isavailable)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.isavailable)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.productid">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
