@model IEnumerable<SchoolManagementSystem.Models.NewVM>
    <link rel="stylesheet" href="~/css/site.css" />
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNotHomePage.cshtml";
}

<h1>List of all the Meeting Schedule</h1>


<table id="customers">
    <tr>
        <th>
            Requested Time
        </th>
        <th>Student's Full Name</th>
        <th>
            Meeting Date
        </th>
        <th>
            Time
        </th>
        <th>
            Subject
        </th>

        <th>Teacher's Full Name</th>
        <th>
            Status
        </th>
    </tr>
 
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.listofmeeting.requestedtime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.listofstudent.firstname) @Html.DisplayFor(modelItem => item.listofstudent.lastname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.listofmeeting.dateofmeeting)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.listofmeetingtime.timeslot)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.listofmeeting.about)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ListOfTeachers.firstname) @Html.DisplayFor(modelItem => item.ListOfTeachers.lastname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.listofmeeting.status)
    </td>
    
</tr>
        }
   
</table>
