@model IEnumerable<SchoolManagementSystem.Models.NewVM>
@{
    ViewData["Title"] = "TeacherMeetingReq";
    Layout = "~/Views/Shared/_LayoutNotHomePage.cshtml";
}

<h1>List of all the Meeting Schedule</h1>


<table id="customers">
    <tr>
        <th>
            Meeting Requested Time
        </th>
        <th>Student's Full Name</th>
        <th>
            Date of Meeting
        </th>
        <th>
           Time Slot
        </th>
        <th>
           Subject
        </th>
        <th>Teacher's Full Name</th>
        <th>Status</th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.listofmeeting.requestedtime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.listofstudent.firstname) @Html.DisplayFor(modelItem => item.listofstudent.lastname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.listofmeeting.dateofmeeting)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.listofmeetingtime.timeslot)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.listofmeeting.about)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ListOfTeachers.firstname) @Html.DisplayFor(modelItem => item.ListOfTeachers.lastname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.listofmeeting.status)
    </td>
    <td>
        @if (item.listofmeeting.status == "Confirm")
        {

            <a asp-action="Delete" asp-route-id="@item.listofmeeting.meetingid">Delete</a>
            <a asp-action="Notify" asp-route-id="@item.listofmeeting.meetingid">Notify</a>
            <a asp-action="Cancel" asp-route-id="@item.listofmeeting.meetingid">Cancel</a>
        }

        @if (item.listofmeeting.status == "Incomplete")
        {
            <a asp-action="Confirm" asp-route-id="@item.listofmeeting.meetingid">Confirm</a>
            <a asp-action="Cancel" asp-route-id="@item.listofmeeting.meetingid">Cancel</a>
            <a asp-action="Delete" asp-route-id="@item.listofmeeting.meetingid">Delete</a>
        }

        @if (item.listofmeeting.status == "Notified")
        {
            <a asp-action="Cancel" asp-route-id="@item.listofmeeting.meetingid">Cancel</a>
            <a asp-action="Delete" asp-route-id="@item.listofmeeting.meetingid">Delete</a>

        }
        @if (item.listofmeeting.status == "Canceled")
        {
            <a asp-action="Confirm" asp-route-id="@item.listofmeeting.meetingid">Confirm</a>
            
            <a asp-action="Delete" asp-route-id="@item.listofmeeting.meetingid">Delete</a>

        }
    </td>
</tr>
    }

</table>
