@model IEnumerable<SchoolManagementSystem.Models.NewVM>
<link rel="stylesheet" href="~/css/form.css" />
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNotHomePage.cshtml";
}

<h1>Inbox Messages</h1>


<table id="customers">

    <tr>
        <th>
           Subject
        </th>
        <th>
            Date Sent
        </th>
        <th>
            Student Name
        </th>
        <th>
            Teacher Name
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.listofinbox.subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.listofinbox.datesent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.listofstudent.firstname) @Html.DisplayFor(modelItem => item.listofstudent.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListOfTeachers.firstname) @Html.DisplayFor(modelItem => item.ListOfTeachers.lastname)
            </td>
            <td>

                <a asp-action="Delete" asp-route-id="@item.listofinbox.inboxid">Delete Message</a>
            </td>
        </tr>
    }

</table>
