@model IEnumerable<SchoolManagementSystem.Models.Coursename>
@*@model IEnumerable<SchoolManagementSystem.Models.Teacher>*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNotHomePage.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
  

    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.coursename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseid)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
        @foreach (var item in Model)
        {
            @foreach (Teacher teacher in ViewBag.Listofteacher)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.coursename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.coursenameid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => teacher.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => teacher.email)
            </td>

        </tr>
            }
        }
        </tbody>
</table>
