@model SchoolManagementSystem.Models.Product
    <link rel="stylesheet" href="~/css/details.css" />
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutForShoppingAdmin.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product Details</h4>
    <hr />
    <table id="customer">

        <tr>
            <th>Product Name</th>
            <td> @Html.DisplayFor(model => model.pname)</td>
        </tr>
        
        <tr>
            <th>Product Description</th>
            <td>@Html.DisplayFor(model => model.description)</td>
        </tr>

        <tr>
            <th>Category ID</th>
            <td>@Html.DisplayFor(model => model.pcategoryid)</td>
        </tr>

        <tr>
            <th>Product Price</th>
            <td> @Html.DisplayFor(model => model.price)</td>
        </tr>

        <tr>
            <th>Available Quantity</th>
            <td> @Html.DisplayFor(model => model.availableqty)</td>
        </tr>

        <tr>
            <th>Image</th>
            <td><img src="@("~/image/"+Model.imagename)" runat="server" asp-append-version="true" style="width:250px; height:250px" /></td>
        </tr>

        <tr>
            <th>Is Available</th>
            <td> @Html.DisplayFor(model => model.isavailable)</td>
        </tr>

    </table>

        <form asp-action="Delete">
            <input type="hidden" asp-for="productid" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
</div>
