
@model IEnumerable<SchoolManagementSystem.Models.NewVM>
<link rel="stylesheet" href="~/css/form.css" />
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNotHomePage.cshtml";

}
<link rel="stylesheet" href="~/css/form.css" />
<h1>Register a new Teacher Here!</h1>
<hr />
<div class="container">
    <form method="post" action="/Signup/SignupTeacher">

        <div class="row">
            <div class="col-50">
                <label for="firstname"><b>First Name</b></label>
            </div>
            <div class="col-75">
                <input type="text" name="firstname" id="firstname" /> <div>
                
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <label for="lastname"><b>Last Name</b></label>
            </div>
            <div class="col-75">

                <input type="text" name="lastname" id="lastname" /><div>
                    @if (ViewBag.lastname != null)
                    {
                        <span style="color:red">@ViewBag.lastname</span>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <label for="dob"><b>Date of Birth</b></label>
            </div>
            <div class="col-75">
                <input type="date" name="dob" id="dob" /><div>
                    @if (ViewBag.dob != null)
                    {
                        <span style="color:red">@ViewBag.dob</span>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <label for="email"><b>Email</b></label>
            </div>
            <div class="col-75">
                <input type="text" name="email" id="email" /><div>
                    @if (ViewBag.email != null)
                    {
                        <span style="color:red">@ViewBag.email</span>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <label for="coursename"><b>Course Name</b></label>
            </div>
            <div class="col-75">
                <select name="coursenameid" id="coursenameid">
                    <option>
                        Please Select Course Name
                    </option>
                    @foreach (var item in Model)
                    {


                        <option value="@item.listofcoursename.coursenameid">

                            @item.listofcoursename.coursename
                        </option>
                    }
                </select> <div>
                    @if (ViewBag.coursenameid != null)
                    {
                        <span style="color:red">@ViewBag.coursenameid</span>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <label for="username"><b>Username</b></label>
            </div>
            <div class="col-75">
                <input type="text" name="username" id="username" /> <div>
                    @if (ViewBag.username != null)
                    {
                        <span style="color:red">@ViewBag.username</span>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <label for="password"><b>Password</b></label>
            </div>

            <div class="col-75">
                <input type="password" name="password" id="password" />
                <div>
                    @if (ViewBag.password != null)
                    {
                        <span style="color:red">@ViewBag.password</span>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <input type="submit" class="registerbtn" value="Register" />
        </div>
    </form>
</div>

