@model SchoolManagementSystem.Models.Signin
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/signin.css" />
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNotHomePage.cshtml";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}



<h4>Signin</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form method="post" action="Signin/Login" style="max-width:500px;margin:auto">
            <h2>Log In Here</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                @if (ViewBag.usernameempty != null)
                {
                    <span>@ViewBag.usernameempty</span>
                }
            </div>

            <div class="input-container">
                <i class="fa fa-user icon"></i>
                <input class="input-field" asp-for="Username" value="@ViewBag.username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div>
                @if (ViewBag.passwordempty != null)
                {
                    <span>@ViewBag.passwordempty</span>
                }
            </div>

            <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input class="input-field" asp-for="Password" value="@ViewBag.password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                @if (ViewBag.wrongusernameorpassworderror != null)
                {
                    <span>@ViewBag.wrongusernameorpassworderror</span>
                }
            </div>
            <div>
                @if (ViewBag.bothempty != null)
                {
                    <span>@ViewBag.bothempty</span>
                }
            </div>
            <button type="submit" class="btn">Login</button>
        </form>



    </div>
</div>


