@model SchoolManagementSystem.Models.Student
<link rel="stylesheet" href="~/css/site.css" />

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNotHomePage.cshtml";
}

<div>
    <h4>Request for Transcript Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.username)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.classname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.classname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.teachername)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.teachername)
        </dd>

    </dl>
</div>

    <a  asp-action="ReqForTranscript" asp-route-id="@Model.studentid">Click Here To Request Your Transcript</a>
